<h1>Listing quizzes</h1>

<% if isProf? %>
<%= link_to 'New Quiz', new_quiz_path, method: :get , :class => "btn btn-primary"%>
<% end %>
<table>

<% if @quizzesHash.empty? %>
  <h3> You don't have any quiz </h3>
<% else %>
   <% @quizzesHash.each do |course, quizzes| %>
    <h3> <%= course.name %> </h3>

    <ul class="courses">
    
      <%= render quizzes%>
    
  </ul>
     
     
    <% end %>
  <% end %>

</table>

<br />