
  <div id="register_form">
  <% if current_user.registered?(course) %>
    <%= render 'unregister', :course => course %>
  <% else %>
    <%= render 'register', :course => course %>
  <% end %>
  </div>
